#container {
  margin: 10px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

.pure-menu-horizontal{
	background-color: #A5D6A7
}

.circle {
        -webkit-border-radius: 61px;
        -moz-border-radius: 61px;
        border-radius: 61px;
        border:1px solid #aaaaaa;
        width:122px;
        height:122px;
   }
