<form action="/users/<% current_user.id %>/tweets" method="post" class="pure-form">
	<fieldset>
		<div class="pure-control-group">
				<label for='body'> New Hop </label> 
				<input class="pure-input-rounded" type='text' name='body' placeholder='hop herr'>
				<input class="pure-button pure-button-primary" type='submit' value='hop!'>
			</form>
