<form class="pure-form"  action='/dashboard/<%= @user.username %>/post/<%= @post.id %>/delete' method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="pure-button"type="submit" value="DELETE!" >
</form>