<div class='container' >

  <% @sorted_post.each do |post|%>
  <%= erb :_article, locals: {post: post} %>
  <% end %>



  <% if session[:user_id] == @user.id %>
    <a class="pure-button pure-button-primary" href="/dashboard/<%= @username %>/post/new">Buzz</a>
  <% end %>
</div>