<div class='container'>
  <ul>
  <li>New User Registration</li>
  <form action="/user/new" method="post">

    <li><label>Desired Username: </label>
    <input type="text" name="username" placeholder="username" maxlength="30"></li>

    <li><label>Set your password: </label>
    <input type="password" name="password" placeholder="password"></li>

    <li><label>Confirm Password: </label>
    <input type="password" name="confirm_password" placeholder="Re-enter password"></li>

    <li><input class='pure-button pure-button-primary' type="submit" value="Register"></li>
  </form>
  </ul>

  <% if @mismatch_error_message %>
    <p><%= @mismatch_error_message %></p>
  <% end %>


  <ul>
    <li>User Login</li>
    <form action='/login' method ='post'>

    <li><label>Username: </label>
    <input type="text" name="username" placeholder="username" maxlength="30"></li>

    <li><label>Password: </label>
    <input type="password" name="password" placeholder="password"></li>

    <li><input class='pure-button pure-button-primary' type="submit" value="Login"></li>
  </form>
  </ul>

  <% if @error_message %>
    <p><%= @error_message %></p>
  <% end %>

