<div class='container'>

  <form class="pure-form" action="/user" method="post">
    <fieldset>
      <legend>New User Registration</legend>
    <input type="text" name="username" placeholder="Desired Username" maxlength="30">

    <input type="password" name="password" placeholder="Set your password:">

    <input type="password" name="confirm_password" placeholder="Confirm Password:">

    <input class='pure-button pure-button-primary' type="submit" value="Register">
    </fieldset>
  </form>


  <% if @mismatch_error_message %>
    <p><%= @mismatch_error_message %></p>
  <% end %>




    <form class="pure-form" action='/login' method ='post'>
      <legend>User Login</legend>
      <input type="text" name="username" placeholder="Username" maxlength="30">

      <input type="password" name="password" placeholder="Password">

      <input class='pure-button pure-button-primary' type="submit" value="Login">
  </form>

  <% if @error_message %>
    <p><%= @error_message %></p>
  <% end %>

