<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">


  <title>Buzy: Spread your Buzz in your community</title>
</head>
<body>

    <p id="demo"></p>

  <% if session[:user_id] %>
    <a class="pure-button" href="/logout">Logout</a>
  <% end %>
  <%= yield %>

  <p id="demo"></p>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
