<div class='container'>


  <form action="/dashboard/<%= @user.username %>/post/new" method="post">

    <input type="text" name="title" placeholder="Buzz Title">
    <input type="text" name="content" placeholder="Buzz Content">
    <input id="buzz-latitude" type="hidden" name="latitude"></input>
    <input id="buzz-longitude" type="hidden" name="longitude"></input>
    <input class="pure-button pure-button-primary" type="submit" value="BUZZ!">
  </form>

</div>