<br>
<h2> Login </h2>

<form action="/signup" class="pure-form pure-form-aligned" method="post">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">Username</label>
            <input class="pure-input-rounded" type="text"name="username" placeholder="JakeTheDog">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input class="pure-input-rounded" type="password" name="password_hash" placeholder="**********">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input class="pure-input-rounded" type="email" name="email" placeholder="Jake@stretchypowers.com">
        </div>

        <div class="pure-control-group">
            <label for="foo">Bio</label>
            <input class="pure-input-rounded" type="text" name="bio" placeholder="Dog and stretchy powers meet.">

        </div>
        <div  class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

 <div>

            <input type="submit" value="Signup" class="pure-button pure-button-primary">
        </div>
    </fieldset>
</form>
<br>
<br>
<table class="pure-table pure-table-horizontal">
  <tbody>
      <tr>
        <td><b>Not an user?</b> </td>
        <td><button href="" class="button-success pure-button"> Signup </button></td>
      </tr>
  </tbody>
</table>
